.svgs > svg {
  position: absolute;
}

.background-mobile-icon {
  height: 325px;
  width: auto;
}

.background-tablet-icon {
  display: none;
}

.background-icon {
  display: none;
}


.icon-group-right {
  width: 300px;
  height: 300px;
  right: -100px;
  top: -30px;
}

.icon-group-left {
  display: none;
}

.big-outline-icon {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .svgs.first {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .background-mobile-icon {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 1023px) {
  .background-tablet-icon {
    display: block;
    height: 400px;
    width: auto;
  }

  .icon-group-right {
    width: 400px;
    height: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .background-icon {
    left: -14vw;
    top: -10vh;
    height: 110vh;
    width: auto;
    display: block;
  }

  .icon-group-right {
    width: 70vw;
    right: -18vw;
    top: -15vh;
  }

  .icon-group-left {
    width: 30vw;
    height: 50vh;
    bottom: 0vh;
    left: -10vw;
    display: block;
  }

  .big-outline-icon {
    width: 70vw;
    height: 70vh;
    top: -50vh;
    left: -30vw;
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {

}

@media screen and (min-width: 1024px) and (max-width: 1220px) {

}

@media screen and (min-width: 1220px) and (max-width: 1680px) {

}

@media screen and (min-width: 1680px) {
  .icon-group-right {
    width: 70vw;
    height: 95vh;
    right: -20vw;
    top: 0vh;
  }
}
